<html>
    <head>
        <link rel="stylesheet" href="/static/index.css">
    </head>
    <body>

    <div id="app">
        <h1>{{ greeding }}</h1>
        <hr/>
        <h1>Login</h1>
        <form method="post" action="/token">
            <p>
                <label for="usernameForm">ユーザーID (e-mail)</label><br/>
                <input type="email" name="username" id="usernameForm"/><br/>
            </p>
            <p>
                <label for="passwordForm">パスワード</label><br/>
                <input type="password" name="password" id="passwordForm"/><br/>
            </p>
            <button type="submit">ログイン</button>
        </form>
        <p>Current token = {{ token }}</p>

        <hr>

        <h1>Get Resource</h1>
        <button >Get Me</button>
        <button >Get Items</button>
        <p>Response = {{ response }}</p>
    </div>

    <script src="/static/index.js"></script>
    </body>
</html>